.Button {
	font-size: 15px;
	align-self: center;
	border-radius: 100px;
	
	padding: 4px 10px;
	margin-left: 2px;
	margin-right: 2px;
	min-width: 75px;
	border: 2px solid transparent;
	box-shadow: none !important;
	outline: none !important;
}

.Button:hover {
	opacity: 0.8;
	border-color: transparent;
	cursor: pointer;
	outline: none !important;
	box-shadow: none !important;
	border: 2px solid transparent;
}

.Button:hover:active {
	background-color: rgb(214 , 214, 203) !important;
	outline: none !important;
	box-shadow: none !important;
	border: 2px solid transparent;
}

.Button:active {
	background-color: rgb(214 , 214, 203) !important;
	outline: none !important;
	box-shadow: none !important;
	border: 2px solid transparent;
}

.Button:focus {
	background-color: rgb(214 , 214, 203);
	outline: none !important;
	box-shadow: none !important;
	border: 2px solid transparent;
}

.Wide {
	padding: 10px 50px;
	width: 100%;
}

.Green:hover {
	background-color: rgba(107, 112, 92, 0.5);
	color: rgb(31, 31, 31);
	outline: none !important;
}

.Green {
	background-color: rgb(107, 112, 92);
	color: rgb(214 , 214, 203);
}
