.Form {
  padding: 10px;
  background-image: linear-gradient(to bottom, #a0a58a, #e0e3d4);
  margin-top: -10px;
}
.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 20px;
  color: #7177a1;
  padding-left: 10px;
}
.Label {
  margin-left: 10px;
}
.SearchBar input {
  border-radius: 20px;
  background: #ffffff;
  color: #7177a1;
  padding-left: 40px;
  margin-bottom: 16px;
  border: 1px solid #f0f1f9;
}
.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}
.select-dropdown {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}
