.Task {
	min-height: 85vh;
	padding: 20px;
  	background-image: linear-gradient(to top, #A0A58A, #E0E3D4);

}
.Card {
	background-color: rgb(185, 190, 167);
	border-radius: 0;
	padding: 20px;
  box-shadow: 0px 8px 10px 0px rgba(31, 31, 31, 0.5);
  text-align: left;
}
.Card p {
  text-align: left;
  padding: 0px;
}
.CardZoom {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.CardZoom:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 10px 0px rgba(31, 31, 31, 0.75)
}

.ModalContent {
  background: none;
  border: none;
}

.modal-backdrop.show {
  opacity: 0.85;
}

.infinite-scroll-component__outerdiv {
  width: 100% !important;
  padding-top: 10px;
}
.infinite-scroll-component {
  width: 100% !important;
  padding-top: 10px;
}